# Data files (due to their big size)
data/

# macOS system files
.DS_Store

# Python bytecode
*.pyc
__pycache__/

# embedding files
*.npy

# local scripts
verify_match.py
app/fetch_jd.py
analysis_files/qual*.md
README.pdf
Thumbnail*